/* Start of css */

/* font-family: 'Heebo', sans-serif; (100, 300, 500); */

p {
  font-weight: 100;
}

h3, h2, h1 {
  font-weight: 500;
}

h4, h5 {
  font-weight: 300;
}

#root {
  font-family: 'Heebo', sans-serif;
}

button {
  font-family: 'Heebo', sans-serif;
}

input {
  font-family: 'Heebo', sans-serif;
}

/*-----START OF OVERIEW-----*/

.overview-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 50px
}

.banner {
  background: pink;
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 23px;
  text-align: center;
}

.product-info-container {
  display: flex;
  flex-direction: row;
}

.image-view-container {
  background: rgba(58, 56, 52, 0.1);
  flex: 2;
  width: 1000px;
  height: 500px;
  border-right: 0px;
  margin-right: 0px;
  order: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
}

.main-image-div {
  /* max-width: 100%; */
  max-height: 500px;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.main-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  display: block;
  position: absolute;
  cursor: zoom-in;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.carousel-container {
  position: absolute;
  /* bottom: 0; */
  /* background: rgba(0, 0, 0, 0.5); */
  float: left;
  padding-left: 20px;

}

.indv-thumbnail {
  max-height: 70px;
  max-width: 70px;
  overflow: hidden;
  padding-bottom: 5px;
  display: inline-block;
  position: relative;
}

.style-thumbnails {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  padding: 6px;
  border-radius: 50%;
}

.name-and-style-container {
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 20px;
}

.rating {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
}

.category {
  margin: 0px;
  padding-bottom: 0px;
}

.product-name {
  margin: 0px;
  padding-bottom: 0px;
}

.price {
  margin: 0px;
  padding-bottom: 0px;
}

/* .image-carousel {
  float: left;
  position: relative;
} */

/* .style-selector {
  flex: 2;
  order: 3;
} */

.static-description {
  align-self: flex-end;
}

/*-----END OF OVERIEW-----*/

/*------- START of QA ------- */
.QaImage {
  max-height: 100px;
  max-width: 100px;
}
.answer {
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
}
.question {
  border: 3px solid blue;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;

}
.qasearchbar {
  width: 60%;
  height: 70px;
}
.center {
  text-align: center;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: white;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/*------- END of QA ------- */



/* Reviews comments styling */

.reviews-comments-parent {
  width: 600px;
}

.reviewListItem-parent {
  display: flex;
  flex-direction: column;

}
.reviewListItem-parent>* {

}

.flex-review-starLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-divider {
  height: 2px;
  background-color: gray;
}


/* Ratings review css */
.flex-rating-header {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: flex-start;
  justify-content: normal;
}

.flex-rating-score {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: normal;
}

/* comfort/size bars */

.flex-comfortBar-parent {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.flex-comfortBar-parent h4 {
  margin-bottom: 16px;
}

.flex-comfort-score {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 8px;
}

.flex-comfort-score>* {
  flex: 0 0 calc(33.333333% - 8px);
}

.flex-comfort-score div {
  background-color: rgb(209, 209, 209);
  height: 8px;
}

.flex-comfort-score h5 {
  margin-top: 4px;
}

.flex-comfort-score > h5:nth-of-type(2) {
  text-align: center;
}

.flex-comfort-score > h5:nth-of-type(3) {
  text-align: right;
}

/* ---- Related Products ---- */

.related-product-tray, .outfit-tray{
  width: calc(800% + 10px);
  display: grid;
  grid-template-columns: repeat(35,minmax(0,1fr));
  grid-column-gap: 0 10px
}

.related-product-card, .outfit-card{
  border: 2px solid blue;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 310px;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 48, 48, 0.192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 300px;
  background-color: #fff;
}

.modal-title {
  margin: 0;
}

.modal-close-button {
  float: right;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.current-product-left-column {
  order: 1;
}

.modal-checkmarks {
  order: 2;
}

.related-product-right-column {
  order: 3;
}

.outfit-card .remove-outfit-btn {
  position: absolute;
  left: 90%;
  background-color: #555;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.outfit-card .remove-outfit-btn:hover {
  background-color: black;
}


